<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Заголовок страницы</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://unpkg.com/vue"></script>
  <style>
      body{
          background: url({% static 'mainApp/BackGround.jpg' %});
          background-size: cover;
          background-attachment:fixed;
          padding-top: 13%;
      }
  </style>
</head>
<body>
    <div class="container">
        <div class="table-responsive">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th>Text</th>
                    <th>Date</th>
                    <th>Readed</th>
                </tr>
            </thead>
            <tbody>
                {% block content %}
                {% endblock %}
            </tbody>
            
        </table>
        </div>
        <a href="/api/get_messages" class="btn btn-success btn-lg">Сообщения</a>
    </div>
</body>
</html>